<style>
  .headerx {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  .headerx video {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .headerx .container {
    position: relative;
    z-index: 2;
  }

  .headerx .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: 1;
  }

  @media (pointer: coarse) and (hover: none) {
    .headerx {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    .headerx video {
      display: none;
    }
  }
  .swiper-container {
        width: 100%;
        padding-top: 15vh;
        padding-bottom: 50px;
        opacity: 0;
      }

      .swiper-slide {
        /* border-radius: 10px; */
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 70vh;
        background: rgb(255,255,255,0.9);
      }
      .swiper-content {
        padding: 10px;
        pointer-events: auto;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .swiperButtonHolder {
        max-width: 100%;
      }
      .bannerHugeTextContainer {
        position:absolute;
        height: 40vh;
        top:30vh;
        width:100%;
      }
      .bannerHugeText {
        color: black;
        /* text-shadow: 0 0 20px #fff; */
        background: white;
        border-radius: 15px;
        opacity: 0;
        font-size: 8vw;
        margin-left : 100%;
        width: 70vw;
        text-align: center;
      }
      .bannerButton {
        position:relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        text-transform: uppercase;
        border: none;
        color: white;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width:100%;
        margin-top: 5px;
      }
      .bannerButton:hover {
        background:black;
        cursor: pointer;
      }
      .projectScreenshot {
        image-rendering: -moz-crisp-edges;         /* Firefox */
image-rendering:   -o-crisp-edges;         /* Opera */
image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
border: solid 2px black;
      }

    .projectInfo {
    }

    .projectTechnology {
      background: black;
      color: white;
      border-radius: 5px;
      padding: 3px;
      font-size: 20px;
      /* white-space: nowrap; */
      margin:2px;
    }
</style>
<script type="text/javascript">
var animationPls = true;
</script>
<div class="headerx">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{{ site.baseurl | prepend: site.url }}/assets/videos/bgVideo.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">

      </div>
    </div>
    <div class="arrowHolder">
    <div class="arrow bounce">
    <a class="fa fa-arrow-down fa-2x" href="#"></a>
    </div>
    </div>
    <div class="bannerHugeTextContainer ">
      <div class="bannerHugeText text-center">
        Hi! I'm Romeno.
      </div>
    </div>
    <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" >
        <div class="swiper-content">
          <div class="projectInfo">
            <h1 >Rivermouth</h1>
            <img class="projectScreenshot" src="../assets/images/rivermouth.png" class="img-fluid" />
            <div >
              <br/><br/>
              <p>A web app that allows users to build their own choose-your-own-path films/comics/novels. Inspired by the netflix show, 'bandersnatch'</p>
              <br/><br/>
              <span class="projectTechnology">MongoDB</span>
              <span class="projectTechnology">Express.js</span>
              <span class="projectTechnology">React</span>
              <span class="projectTechnology">Node.js</span>
              <span class="projectTechnology">Rest API</span>
            </div>
          </div>

          <div>
          <button class="bannerButton blue">View live project</button>
          <button class="bannerButton green">View code</button>
          <button class="bannerButton purple">View blog post</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide" >
        <div class="swiper-content">
          <h1 >ASL-NET-API</h1>
          <div class="swiperButtonHolder">
          <button class="bannerButton blue">View live project</button>
          <button class="bannerButton green">View code</button>
          <button class="bannerButton purple">View blog post</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide" >
        <div class="swiper-content">
          <h1 >Terminal</h1>
          <div class="swiperButtonHolder">
          <button class="bannerButton blue">View live project</button>
          <button class="bannerButton green">View code</button>
          <button class="bannerButton purple">View blog post</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>
