
<article class="post page single" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h2 itemprop="name headline">First time here? Check these out.</h2>
    </header>

    <div class="row">

      <div class="column">
        <div class="card pin1">
          <h3>Card 1</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>

      <div class="column">
        <div class="card pin2">
          <h3>My first music piece</h3>
          <p>My first music piece</p>
          <p>Some text</p>
        </div>
      </div>

      <div class="column">
        <div class="card pin3">
          <h3>Card 3</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>

      <div class="column">
        <div class="card pin4">
          <h3>Card 4</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="card pin5">
          <h3>My first music piece</h3>
          <p>My first music piece</p>
          <p>Some text</p>
        </div>
      </div>
      <div class="column">
        <div class="card pin6">
          <h3>Card 1</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>



      <div class="column">
        <div class="card pin7">
          <h3>Card 3</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>

      <div class="column">
        <div class="card pin8">
          <h3>Card 4</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>

</article>
