<article class="post page single" role="article" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h2 itemprop="name headline">First time here? Check these out.</h2>
    </header>

    <div class="row">
      <div class="column">
        <div class="card blue">
          <h3>Card 1</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>

      <div class="column">
        <div class="card red">
          <h3>My first music piece</h3>
          <p>My first music piece</p>
          <p>Some text</p>
        </div>
      </div>

      <div class="column">
        <div class="card purple">
          <h3>Card 3</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>

      <div class="column">
        <div class="card green">
          <h3>Card 4</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="card red">
          <h3>My first music piece</h3>
          <p>My first music piece</p>
          <p>Some text</p>
        </div>
      </div>
      <div class="column">
        <div class="card blue">
          <h3>Card 1</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>



      <div class="column">
        <div class="card green">
          <h3>Card 3</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>

      <div class="column">
        <div class="card purple">
          <h3>Card 4</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>

</article>
