
<article class="post page single" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h2 itemprop="name headline">First time here? Check these out.</h2>
    </header>

    <div class="row">

      <div class="column">
        <a href ="{% post_url 2020-03-21-myslsm %}"><div class="card blue pin1">
          <p><span class="ec ec-metal"></span>
 Social Network I built for my highschool</p>
        </div>
        </a>
      </div>

      <div class="column">
        <a href ="{% post_url 2020-03-21-facebook-loophole %}">
        <div class="card red pin2">
          <p>Finding a bug on facebook <span class="ec ec-keyboard"></span></p>
        </div>
        </a>
      </div>

      <div class="column">
        <a href ="{% post_url 2020-03-21-experience-winning-an-international-hackathon %}">
        <div class="card purple pin3">
          <p><span class="ec ec-trophy"></span>Winning a hackathon </p>
        </div>
        </a>
      </div>

      <div class="column">
        <a href ="{% post_url 2020-03-21-dj-music-mashup-using-xbox-kinect %}">
        <div class="card green pin4">
          <p><span class="ec ec-twisted-rightwards-arrows"></span>
Building a DJ mashup software using XBOX Kinect</p>
        </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <a href ="{% 2020-03-21-creeper %}">
        <div class="card red pin5">
          <p>My first music piece <span class="ec ec-headphones"></span>
</p>
          <p></p>
        </div>
        </a>
      </div>
      <div class="column">
        <a href ="{% post_url 2020-03-21-lifeordeath %}">
        <div class="card blue pin6">
          <p><span class="ec ec-coffin"></span> Visualizing death</p>
        </div>
        </a>
      </div>



      <div class="column">
        <a href ="{% post_url 2020-03-21-my-electronic-music-visualizer-project %}">
        <div class="card green pin7">
          <p><span class="ec ec-notes"></span> Building an electronic music visualizer</p>
        </div>
        </a>
      </div>

      <div class="column">
        <a href ="{% post_url 2020-03-21-facebook-loophole %}">
        <div class="card purple pin8">
          <p><span class="ec ec-robot"></span>

Building a youtube commenting bot to win $1000  <span class="ec ec-moneybag"></span><span class="ec ec-moneybag"></span>
</p>
        </div>
        </a>
      </div>
    </div>
      <h2 itemprop="name headline">Or keep scrolling to see the latest posts.</h2>
</article>
