<script src="{{ site.baseurl | prepend: site.url }}/assets/js/jquery-1.12.2.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/backtotop.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/lunr.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/lunr-feed.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/jquery.fitvids.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/svg4everybody.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/scripts.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>

<script>
	// init controller
  function isMobileDevice() {
      return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
  };
  function startStuff() {
  $(".user-profile").css({padding:"15px","top":"50%", left: "50%","transform": "translate(-50%, -50%)"});
  $(".user-profile").css("background-color","rgba(256, 256, 256, 0.7)");
  $(".user-profile").addClass("fixed");
  $(".mainmenu").css({display : "none"});
  $(".avatar").css({display : "none"});
  //$(".socials a").css({background:"#292825"});
}
function endStuff() {
  $(".user-profile").addClass("fixed");
  $(".mainmenu").css({display : "block"});
  $(".avatar").css({display : "block"});
  $(".user-profile").css({"z-index":"1000",padding:"0px",top:"60px", left: "auto","transform": "none"});
  //$(".profile_pic").attr("src","{{ site.baseurl | prepend: site.url }}/assets/images/profile2.png");
}

function startBannerScrollMagicStuff() {
startStuff();
	let controller = new ScrollMagic.Controller();
  let pos = $("body").width() - $(".search").width() - $(".user-profile").width();
  let action = gsap.timeline().to(".user-profile",{duration:1, left:"300px",  "background-color":"rgba(256, 256, 256, 0)"}).to(".user-profile",{duration:1,  "background-color":"rgba(256, 256, 256, 0)"});
  let scene = new ScrollMagic.Scene({triggerElement: "#scrollTrigger", duration: ($(".headerx").height()-500),offset:"500"})
					// animate color and top border in relation to scroll position
					.setTween(action) // the tween durtion can be omitted and defaults to 1
					//.addIndicators({name: "2 (duration: 300)"}) // add indicators (requires plugin)
					.addTo(controller)
          .on("start", function (e) {
            startStuff();
          })
          .on("end", function (e) {
              endStuff();
					});
        }
function startPinnedScrollMagicStuff() {
  function startPinStuff() {
    $(".card").css("opacity","0");
  }
  startPinStuff()
        	let controller = new ScrollMagic.Controller();
          let pos = $("body").width() - $(".search").width() - $(".user-profile").width();
          let cards = document.querySelectorAll(".card");
          let action = gsap.timeline().to(cards,{duration:1,opacity:"1"}).to(cards,{duration:0.25}).to(cards,{duration:0.25}).to(cards,{duration:0.25});
          let scene = new ScrollMagic.Scene({triggerElement: "#scrollTriggerPinnedPosts", duration: 160})
        					// animate color and top border in relation to scroll position
        					.setTween(action) // the tween durtion can be omitted and defaults to 1
        				//	.addIndicators({name: "start pinned posts animation"}) // add indicators (requires plugin)
        					.addTo(controller)
                  .on("start", function (e) {
                    startPinStuff();
                  })
                  .on("end", function (e) {
                      //endPinStuff();
        					});

                }
        $(function() {
            if (!isMobileDevice()) {
                if(animationPls === true) {startBannerScrollMagicStuff();
startPinnedScrollMagicStuff();
                };
            } else {
              $(".headerx").css("display","none");
            }
          });
          function floatElement (selectorVal,xVal =5,yVal=5,rotVal=1,timeVal=5,timeValAddition=5) {
            const can = document.querySelectorAll(selectorVal);

            const randomX = random(0, xVal);
            const randomY = random(0, yVal);
            const randomDelay = random(0, 1);
            const randomTime = random(3, timeVal);
            const randomTime2 = random(timeVal, timeVal+timeValAddition);
            const randomAngle = random(0, rotVal);

            TweenLite.set(can, {
              x: randomX(-1),
              y: randomX(1),
              rotation: randomAngle(-1)
            });

            moveX(can, 1);
            moveY(can, -1);
            rotate(can, 1);

            function rotate(target, direction) {

              TweenLite.to(target, randomTime2(), {
                rotation: randomAngle(direction),
                // delay: randomDelay(),
                ease: Sine.easeInOut,
                onComplete: rotate,
                onCompleteParams: [target, direction * -1]
              });
            }

            function moveX(target, direction) {

              TweenLite.to(target, randomTime(), {
                x: randomX(direction),
                ease: Sine.easeInOut,
                onComplete: moveX,
                onCompleteParams: [target, direction * -1]
              });
            }

            function moveY(target, direction) {

              TweenLite.to(target, randomTime(), {
                y: randomY(direction),
                ease: Sine.easeInOut,
                onComplete: moveY,
                onCompleteParams: [target, direction * -1]
              });
            }

            function random(min, max) {
              const delta = max - min;
              return (direction = 1) => (min + delta * Math.random()) * direction;
            }
          }
          for(let x=1;x<9;x++) {
            floatElement(".pin" + x);
          }
          floatElement(".social_btn",5,5,10,1,1);

</script>
{% if site.analytics_code != null %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{site.analytics_code}}', 'auto');
        ga('send', 'pageview');
    </script>
{% endif %}
