<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
      <div id="scrollTrigger" ></div>
        {% include banner.html %}
        <div class="wrapper">
          <div class="sidebarThing">
            {% include sidebar.html %}
          </div>
            <main class="the-content" role="main">
                {% include search.html %}
                {% include InterestingPosts.html %}
                {{ content }}
            </main>
        </div>

        {% include scripts.html %}
    </body>
</html>
